<div class="min-h-screen {{ background_color }} flex flex-col font-inconsolata">
    <div class="max-w-7xl mx-auto pt-16 pb-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold {{ secondary_color }} shadow-gray-700 shadow-md rounded-lg px-20 py-2 text-gray-700">About Me</h1>
    </div>

    <main class="flex-grow">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-lg shadow-gray-700 sm:rounded-lg {{ secondary_color }}">
                <div class="p-6 sm:p-8 md:p-10 lg:p-12">
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 text-gray-700">
                        <div>
                            {{ secondary_content}}
                        </div>
                        <div>
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
